
<div class="container">
  <div class="action-section mt-4">
    <button class="w3-button w3-blue mx-1" routerLinkActive="active" routerLink="/company-list">Show Company List</button>
    <button class="w3-button w3-blue mx-1" routerLinkActive="active" routerLink="/add-company">Add Company</button>
  </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Add Company New</h2>
    </div>
  
  <div class="row justify-content-center mt-5">
      <div class="col-md-4">
          <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" type="text" formControlName="name" required>
            </div>
    
            <div class="form-group">
              <label>Location</label>
              <input class="form-control" type="text" formControlName="location" required>
            </div>
    
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="text" formControlName="email" required>
            </div>
            
            <div class="form-group">
              <label>About Company</label>
              <input class="form-control" type="text" formControlName="info" required>
            </div>
            <div class="form-group">
              <label>logo</label>
              <img src="{{logoImg}}"/>
              <input class="form-control" type="text" formControlName="logo" [(ngModel)]="logoImg" required>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Add Company</button>
            </div>
          </form>
      </div>
    </div>
</div>
