<div style="margin-top: 50px;margin-left:20%;margin-right:20%;border:1px solid #aaa;padding:20px">
    <strong>About Placement App</strong>
    <p>The target of this project is to develop a system that can be used by placement cell of a college.
      The purpose is to design a system that provides functionalities to perform the activities related to
      placement services. It also allows the faculty and student to view the company’s facilities and also helps
      him to select under different platforms. It also Provide leadership and support to staff in relation to student
      placements for relevant disciplines. Promote consistent, high quality practice standards and promote good
      practice in the supervision of students. Develop and maintain strong working relationships with
      universities with a view to increasing the disability focus in entry level training. </p>
    </div>