
<div id="home-page">
  <div class="w3-bar w3-blue">
    <a routerLinkActive="active" routerLink="home-page" class="w3-bar-item w3-button" style="margin-right:30px;font-size: 24px;"> <i class="fa fa-bank"></i> Placement App</a>
    <a routerLinkActive="active" routerLink="home-page" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
    <a routerLinkActive="active" routerLink="about-us" class="w3-bar-item w3-button"><i class="fa fa-get-pocket"></i> About us</a>
    <a routerLinkActive="active" routerLink="company-list" class="w3-bar-item w3-button"> <i class="fa fa-briefcase"></i> All Company</a>
    <a routerLinkActive="active" routerLink="drives-info" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap"></i> Drives Info</a>
    <a routerLinkActive="active" routerLink="feedBack" class="w3-bar-item w3-button"><i class="fa fa-handshake-o"></i> Feedback</a>
    <a *ngIf="adminUser" class="w3-bar-item w3-button hide" id="adminUser"> <i class="fa fa-user-circle-o"></i> ADMIN Profile</a>
    <a *ngIf="!adminUser" class="w3-bar-item w3-button" id="User"><i class="fa fa-user-circle-o"></i> USER Profile</a>
    <a *ngIf="!adminUser" routerLinkActive="active" routerLink="admin-login" class="w3-bar-item w3-button" id="adminBtn"><i class="fa fa-user-circle-o"></i> ADMIN LOGIN</a>
    <span id="logout" (click)="logout()"><a class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Logout</a></span>
    </div>
</div>      

<router-outlet></router-outlet>